.navbar {
  padding: 0.7rem 3rem;
  background-color: var(--textColor4);
}

.navbar__container {
  margin: 0 1rem;
  display: flex;
  align-items: center;
}

.navbar__container--left {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navbar__container--left a {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}

.el-logo {
  margin-left: 0 !important;
}

.el-logo img {
  width: 100px;
}

.el-product,
.el-login {
  font-size: 16px;
  color: var(--primaryBlack);
  text-decoration: none;
  font-weight: var(--mediumFontWeight);
}

.el-product img {
  width: 20px;
  margin-left: 7px;
}

.navbar__container--right {
  display: flex;
  align-items: center;
}

.navbar__container--right a,
.navbar__container--right .el-explore {
  margin: 0 1.75rem;
}

.el-explore {
  width: 18px;
}

.el-join {
  padding: 9px 25px;
  border-radius: 3rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: var(--boldFontWeight);
  color: var(--textColor4);
  background-image: var(--secondaryColor);
  vertical-align: middle;
  margin-right: 0 !important;
}

/* HOME CONTAINER */

.home {
  padding: 3rem 4rem 2rem 6rem;
  display: flex;
}

.home__left {
  margin-right: auto;
}

.el-first,
.el-price-tag {
  color: var(--textColor4);
  font-family: var(--fontFamily);
  font-weight: var(--semiBoldFontWeight);
  font-size: 56px;
}

.el-prevPrice,
.el-rp,
.el-currPrice {
  font-family: var(--robotoFont);
  font-size: 64px;
}

.el-prevPrice {
  text-decoration: line-through;
  text-decoration-color: var(--dangerColor2);
}

.el-currPrice {
  color: var(--primaryColor);
}

.el-bnlist {
  list-style-type: none;
}

.el-points {
  display: flex;
  align-items: center;
  margin-top: 48px;
}

.el-pImg {
  margin-right: 2rem;
  width: 60px;
}

.el-pText {
  color: var(--textColor4);
  font-family: var(--robotoFont);
  letter-spacing: 0.5px;
  font-size: 32px;
}

.el-imp {
  color: var(--primaryColor);
}
